.h1
{
text-align:center;
padding:10px;
text-indent:10px;
font-family:  "Source Sans Pro", sans-serif ;
letter-spacing: 0px;
font-size:20px;
color:blue;
}
.nav{
    margin-top:10px;
    margin-right:10px;
}
div
{
border:double;
align-content:center;
margin-left:200px;
margin-right:50px;
margin-top:20px;
height:650px;
width:900px;
background-color:#f0f0f7;

}
p.marquee {
    position: absolute;
    margin-top:auto;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    border-style:dotted;
}
.para
{
 font-family: "Source Sans Pro", sans-serif;
   font-size:20px;
   color:#5c5c89;
   margin-left:150px;
}